body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#flacy {
  width: 50px;
  height: 50px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}

#map {
  position: relative;
  width: 100%;
  height: 100%;
}

.spike {
  width: 20px;
  height: 20px;
  background-color: #c62828;
  position: absolute;
  bottom: 0;
}

#spikes {
  width: 100%;
  height: 20px;
  background-color: #c62828;
  position: absolute;
  bottom: 0;
}
